@import "tailwindcss";

@theme {
  --color-primary: #6366F1;
  --color-surface: #FFFFFF;
  --color-background: #F9FAFB;
  --color-text-main: #111827;
  --color-text-muted: #6B7280;
  --color-success: #10B981;
  --color-danger: #EF4444;

  --font-sans: "Inter", system-ui, sans-serif;
}
